.table-container {
  display: flex;
}

table {
  width: 200px;
  border-spacing: 0px;
  margin-bottom: 20px;
}

th {
  border: 1px solid tomato;
}

td {
  text-align: center;
}

table {
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid black;
}

table tr td:first-child,
table tr th:first-child {
  border-right: 0px;
}

table:last-of-type tr td:last-child,
table:last-of-type tr th:last-child {
  border-right: 1px solid black;
}
input {
  /* border: none; */
  width: 5rem;

  border: 0;
  outline: 0;

  transition: width 0.1s ease;
}

.table-body-number-symbol {
  width: 20px;
}

.add-row-btn {
  width: 70px;
  height: 20px;
  font-size: 12px;
  margin: 5px;
}

svg {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 1200px;
}
